<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background: url("aboutimg.webp");
        background-size: cover;
        background-position: center;
      }

      header {
        background-color: #0392ce;
        color: #fff;
        text-align: center;
        padding: 1px;
      }

      .main-content {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
      }

      h2 {
        color: #333;
      }

      p {
        line-height: 1.6;
      }

      .team {
        background-color: #0392ce;
        padding: 10px;
        color: white;
      }
      .team h2 {
        color: white;
        border-bottom: 2px solid white;
      }

      .team-members {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
      }

      .team-member {
        text-align: center;
        margin: 40px;
        max-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .navbar {
        background-color: #0392ce;
        overflow: hidden;
      }

      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
      }

      .navbar a.right {
        float: right;
      }
    </style>
    <title>About Us</title>
  </head>
  <body>
    <header>
      <h2 style="color: white">About Our Website</h2>
    </header>
    <section class="main-content">
      <h2>Our Mission</h2>
      <p>
        At Life Saver Hospital, our dedicated team of healthcare professionals
        is committed to providing compassionate and personalized care to our
        community. Each member of our team brings a wealth of experience,
        expertise, and a genuine passion for improving the health and well-being
        of our patients. Get to know the faces behind the care:
      </p>
      <h2>Dr. Rajesh Sharma, Chief Medical Officer</h2>
      <p>
        Role: As our Chief Medical Officer, Dr. Rajesh Sharma leads our medical
        team with a focus on patient-centered care and clinical excellence. With
        15 years of experience in internal medicine, Dr. Rajesh Sharma is
        dedicated to staying at the forefront of medical advancements to ensure
        the highest quality of care for our patients.
      </p>
      <h2>Dr. Divya Sharma, RN, Director of Nursing</h2>
      <p>
        Role: As the Director of Nursing, Dr. Divya Sharma oversees the nursing
        staff to ensure that each patient receives attentive and compassionate
        care. With a background in critical care nursing, Dr. Divya Sharma is
        committed to maintaining the highest standards of nursing practice and
        creating a healing environment for our patients.
      </p>

      <h2>Dr. Amit Desai, MSW, Director of Patient Services</h2>
      <p>
        Role: Dr. Amit Desai serves as our Director of Patient Services,
        focusing on the holistic well-being of our patients. With a Master's in
        Social Work, Dr. Amit Desai is dedicated to providing support and
        resources to patients and their families, promoting a patient-centered
        approach to healthcare.
      </p>

      <h2>Dr. Arjun Reddy, Director of Operations</h2>
      <p>
        Role: Our Director of Operations, Dr. Arjun Reddy, ensures the smooth
        and efficient functioning of Life Saver Hospital. With a keen eye for
        detail and extensive experience in healthcare administration, Dr. Arjun
        Reddy works tirelessly to enhance the overall patient experience and
        optimize operational efficiency.
      </p>

      <h2>Dr. Anjali Singh, RD, Chief Nutritionist</h2>
      <p>
        Role: As our Chief Nutritionist, Dr. Anjali Singh plays a crucial role
        in promoting health and wellness through proper nutrition. With a
        background in dietetics, Dr. Anjali Singh provides expert guidance to
        patients, helping them make informed choices for a healthy lifestyle.
      </p>

      <h2>Gaurang Shirodkar, IT Manager</h2>
      <p>
        Role: Gaurang Shirodkar is our IT Manager, overseeing the technological
        infrastructure that supports our commitment to cutting-edge healthcare.
        With a background in healthcare IT, Gaurang Shirodkar ensures that our
        systems are secure, efficient, and contribute to the seamless delivery
        of patient care. At Life Saver Hospital, our team works collaboratively
        to ensure that every patient receives the highest standard of care. We
        are dedicated to making a positive impact on the health and well-being
        of our community. Meet our team, and let us be your partners in health.
      </p>
    </section>

    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <h3>Madhurika Priya</h3>
        </div>
        <div class="team-member">
          <h3>Priyanshi Surana</h3>
        </div>
        <div class="team-member">
          <h3>Bhoomika Hegde</h3>
        </div>
        <div class="team-member">
          <h3>Sakshi Kallur</h3>
        </div>
      </div>
    </section>
  </body>
</html>
